{
    "deemix": {
        "config_path": "D:\\source\\spotify_dl_data\\config",
        "arl": "",
        "download_path": "D:/deemix_Music"
    },
    "logging": {
        "level": "INFO",
        "path": ""
    },
    "spotify": {
        "client_id": "",
        "client_secret": "",
        "username": "",
        "scope": "user-library-read, playlist-read-private",
        "redirect_uri_port": "9090"
    },
    "pushover": {
        "enabled": false,
        "user_key": "",
        "api_token": ""
    },
    "autoscan": {
        "enabled": false,
        "endpoint": "",
        "scan_file_parent_path": true,
        "auth_enabled": false,
        "username": "",
        "password": ""
    },
    "git": {
        "enabled": false,
        "persistent_data_folder_path": "D:\\source\\spotify_dl_data"
    },
    "script": {
        "paths": {
            "liked_songs": "D:\\source\\spotify_dl_data\\spotify_liked_songs.json",
            "processed_songs": "D:\\source\\spotify_dl_data\\processed_songs.json"
        },
        "spotify_playlists": {
            "enabled": false,
            "excluded": []
        }
    }
}